

<div class="row mt-3">

  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Agregar Producto </div>
      <div class="card-body">

        <form [formGroup]="form" (ngSubmit)="addProduct()">


          <input formControlName="name" type="text" class="form-control" placeholder="Ingrese su nombre">
          <input formControlName="description" type="text" class="form-control mt-2" placeholder="Ingrese su descripcion">
          <input formControlName="price" type="number" class="form-control mt-2" placeholder="Ingrese su precio">
          <input formControlName="stock" type="number" class="form-control mt-2" placeholder="Ingrese su stock">
          <div class="row mt-2 text-center">
            <div class="col-lg-6">

              <!-- [disabled]="form.invalid" : validado lo habilitara depende -->
              <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            </div>
            <div class="col-lg-6">

              <button routerLink="/" routerLinkActive="router-link-active"  type="button" class="btn btn-secondary">Volver</button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>



</div>

